# Temporary files
*.swp
*.mo
.#*

backup

# Python
__pycache__/
.mypy_cache
.ipynb_checkpoints/
/.venv/

# Local (secret) configuration
/.env.local

# Databases (dumps?)
test.db
main.db

# IDE
/.idea/
