# Temporary files
*.swp
*.mo
.#*

# Python
__pycache__/
.mypy_cache
.ipynb_checkpoints/
/.venv/

# Local (secret) configuration
/.env.local

# Backup
backup

# Databases (dumps?)
test.db
main.db

# Operating System
.directory

# IDE
/.idea/
