version: '3'

services:
  db:
    image: postgres
  web:
    image: drf-tdd:latest
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./:/code
    ports:
      - "8012:8000"
    depends_on:
      - db



