version: '3'

services:
  db:
    image: postgres
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: drf-tdd:latest
    command: docker/wait-for-it.sh db:5432 --strict -- docker/run.sh
    volumes:
      - ./:/code
    ports:
      - "8012:8000"
    depends_on:
      - db
      - mail
    env_file:
      - .env
      - .env.local
  mail:
    image: bytemark/smtp
    restart: always

